<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Apenas para desenvolvimento local com o backend em HTTP. Remover em produção. -->
    <application
        android:allowBackup="false"
        android:label="VibeMatch"
        android:supportsRtl="true"
        android:theme="@style/Theme.VibeMatch">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
